.filter_text {
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  /* width: 500px; */
}

.filter_input {
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #979393;
  outline: 0;
}
